.link {
    border: 1px solid #eaeaea;
    border-left: 4px solid green;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    padding: 2px 10px;
    padding-left: 20px;
    position: relative;
}

.linkImg {
    position: absolute;
    width: 15px;
    left: 3px;
    top: 4px;
}

.linkText {
    font-weight: bold;
    color: #313e78;
}
