.toolbarButton {
    display: inline-block;
    border: 1px solid #000;
    padding: 3px;
    margin-bottom: 5px;
    cursor: pointer;
    margin-right: 4px;
    position: relative;
}

.toolbarButtonActive {
    background: #000;
    color: #fff;
}
