.editor {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #000;
    width: 1000px;
    /* display: flex; */
    word-break: break-all;
    margin-bottom: 4px;
}

.DraftEditor-root,
.DraftEditor-editorContainer,
.public-DraftEditor-content {
    /* display: flex;
    flex-grow: 1; */
}
